<div class="flex-container">
<div class="card" style="width: 18rem;">
    <img src="assets/Images/H01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{Property.Name}}</h5>
      <h3>{{Property.Type}}</h3>
      <h3>${{Property.Price}}</h3>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/Images/H02.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{Property2.Name}}</h5>
      <h3>{{Property2.Type}}</h3>
      <h3>${{Property2.Price}}</h3>
    </div>
  </div>
  <div class="card"style="width: 18rem;">
    <img src="assets/Images/H03.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{Property3.Name}}</h5>
      <h3>{{Property3.Type}}</h3>
      <h3>${{Property3.Price}}</h3>
    </div>
  </div>
</div>
